* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 5vh;
    width: 100vw;
    background: black;

    p {
        font-size: 10px;
        font-family: ff-tisa-sans-web-pro, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #F4F5F7;
        margin: auto;
    }
}