.footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    background: black;

    p{
        font-size: 10px;
        font-family: ff-tisa-sans-web-pro, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #F4F5F7;
        margin: auto;
    }
}