* {
    margin: 0;
    padding: 0;
}

.education-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;

    .column-one {
        display: flex;
        flex-direction: column;
        width: 40vw;
        padding: 15px;

        strong {
            color: #00C6CF;
            font-size: 25px;
            font-family: ff-tisa-sans-web-pro, sans-serif;
            font-style: normal;
            font-weight: 500;
        }

        h2 {
            font-size: 20px;
            font-family: ff-tisa-sans-web-pro, sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #F4F5F7;
        }
    
        p {
          font-size: 15px;
          font-family: ff-tisa-sans-web-pro, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: #F4F5F7;
        }

        li {
          font-size: 12px;
          font-family: ff-tisa-sans-web-pro, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: #F4F5F7;   
        }
      }

      .vl {
        border-left: 3px solid;
        height: 55vh;
        color: #F4F5F7;
        margin-left: 60px;
      }
      
    .column-two {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60vh;
        width: 45vw;

        #setup-photo {
          border: groove;
          border-color: #00C6CF;
          border-radius: 5px;
          height: 320px;
          width: 510px;
        }
    
        .photo {
          border: groove;
          border-color: #00C6CF;
          border-radius: 5px;
          height: 320px;
          width: 250px;
          margin: auto;
        }
    
        .top-side {
          display: flex;
          justify-content: space-around;
          height: 30vh;
          width: 45vw;
        }
    
        .bottom-side {
          display: flex;
          align-items: center;
          height: 30vh;
          width: 45vw;
        }
    }
}