body {overflow-x: hidden;}

.landing-page {
    background-image:"../images/Detail Shot.jpg"; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;

    #background-image {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }

    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      width: 100%;
      margin-bottom: 10px;
      z-index: 2;

      #logo {
        height: 100%;
        width: auto;
        margin: 0;
      }
    }

    .welcome-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 35vh;
        width: 100%;
  
        h1 {
            animation: text-focus-in 1s linear;
            font-size: 75px;
            font-family: ff-tisa-sans-web-pro, sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #F4F5F7;
            margin: auto;
        }
    
        .intro {
            animation: text-focus-in 1s linear;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            color: #F4F5F7;
        }

        strong {
          color: #FECC1E;
          font-size: 25px;
          font-family: ff-tisa-sans-web-pro, sans-serif;
          font-style: normal;
          font-weight: 500;
      }
    }

}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  