* {
    margin: 0;
    padding: 0;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.886);

    h1 {
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 60px;
      font-family: ff-tisa-sans-web-pro, sans-serif;
      font-style: normal;
      font-weight: 500;
      color: #F4F5F7;
    }

    .subheader-container {
      display: flex;
      justify-content: space-evenly;
      width: 40vw;
      margin-top: -80px;

      .about-button {
        font-family: ff-tisa-sans-web-pro, sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #F4F5F7;
        background-color: transparent;
        border: none;
        padding-bottom: 2px;
        position: relative;
        font-weight: 400;
        cursor: pointer;
        font-size: 18px;
      }
    
      .about-button::after {
          display: block;
          background-color: #00C6CF;
          width: 100%;
          left: 0;
          transform-origin: bottom left;
          height: 2px;
          position: absolute;
          bottom: 0;
          transform: scaleX(0);
          transition: .3s ease;
          content: "";
      }
      
      .about-button:hover::after {
          transform: scaleX(1);
      }
    }

    .about-information {
      display: flex;
      height: 60vh;
      margin-top: -25px;
  }
}