@import "../variables.scss";

* {
    margin: 0;
    padding: 0;
}

.covid-dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;

    .column-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vh;
        width: 45vw;

        #covid-image {
            height: 35vh;
            width: 40vw;
            margin-top: 100px;
        }
    }

    .column-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        width: 45vw;

        .info-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            strong {
                color: #00C6CF;
                font-size: 25px;
                font-family: ff-tisa-sans-web-pro, sans-serif;
                font-style: normal;
                font-weight: 500;
            }
        
            h2 {
                font-size: 20px;
                font-family: ff-tisa-sans-web-pro, sans-serif;
                font-style: normal;
                font-weight: 500;
                color: #F4F5F7;
            }
    
            .projects-info-text {
                font-size: 15px;
                font-family: ff-tisa-sans-web-pro, sans-serif;
                font-style: normal;
                font-weight: 500;
                color: #F4F5F7;
            }
    
            .technologies {
                font-size: 15px;
                font-family: ff-tisa-sans-web-pro, sans-serif;
                font-style: normal;
                font-weight: 500;
                color: #FAB565;
            }

            .external-links {
                margin-top: 15px;
            }
        }
    }
}