.experience-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  width: 100%;
  min-height: 800px;
  min-width: 1000px;
  margin-top: -20px;
}

.experience-section .column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 40%;
  min-height: 500px;
  min-width: 800px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: auto;
  z-index: 1;
}

.experience-section .column-one strong {
  color: #00C6CF;
  font-size: 25px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.experience-section .column-one h2 {
  font-size: 20px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F4F5F7;
}

.experience-section .column-one p {
  font-size: 15px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F4F5F7;
}

.experience-section .column-one li {
  font-size: 12px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F4F5F7;
}

.experience-section .column-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: groove;
  border-color: #00C6CF;
  border-radius: 5px;
  background: #343536;
  height: 60vh;
  width: auto;
  min-height: 500px;
  min-width: 500px;
}

.experience-section .column-two .icon-row-one, .experience-section .column-two .icon-row-two, .experience-section .column-two .icon-row-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: auto;
  margin: 50px 0px;
}

.experience-section .column-two .icon-row-one .tech-element, .experience-section .column-two .icon-row-two .tech-element, .experience-section .column-two .icon-row-three .tech-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: auto;
}

.experience-section .column-two .icon-row-one .tech-element .icon, .experience-section .column-two .icon-row-two .tech-element .icon, .experience-section .column-two .icon-row-three .tech-element .icon {
  height: 90%;
  width: auto;
}

.experience-section .column-two .icon-row-one .tech-element p, .experience-section .column-two .icon-row-two .tech-element p, .experience-section .column-two .icon-row-three .tech-element p {
  font-size: 13px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F4F5F7;
}
/*# sourceMappingURL=experience.css.map */