.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 850px;
    background-color: #232323;
    overflow: hidden;

    .header-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100%;
        margin-top: 5vh;
    
        h1 {
            font-size: 65px;
            font-family: ff-tisa-sans-web-pro, sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #F4F5F7;
        }
    }


    .subheader-container {
        display: flex;
        justify-content: space-evenly;
        width: 40vw;
        margin-bottom: 15vh;
        z-index: 2;

        .projects-button {
            font-family: ff-tisa-sans-web-pro, sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #F4F5F7;
            background-color: transparent;
            border: none;
            padding-bottom: 2px;
            position: relative;
            font-weight: 400;
            cursor: pointer;
            font-size: 18px;
        }

        .projects-button::after {
            display: block;
            background-color: #00C6CF;
            width: 100%;
            left: 0;
            transform-origin: bottom left;
            height: 2px;
            position: absolute;
            bottom: 0;
            transform: scaleX(0);
            transition: .3s ease;
            content: "";
        }
      
        .projects-button:hover::after {
            transform: scaleX(1);
        }
    }

    .project-information {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100%;
        min-height: 600px;
        min-width: 1000px;
    }
}
